<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Friends List</h2>
    <a routerLink="/register-friend" class="btn btn-success" *ngIf="hideWhenNoFriend">
      Add Friend
    </a>
</div>

<div class="pricing-header mx-auto">

    <div class="no-data text-center" *ngIf="preLoader">
        <img src="assets/preloader.gif" class="preloader-icon" alt="No friend">
    </div>

    <div class="no-data text-center" *ngIf="noData">
        <img src="../../assets/images/logowhite.gif" class="nodata-msg" alt="No friend" width="250px" height="250px">
        <p class="nodata-msg">No friends added yet!</p>
        <a routerLink="/register-friend" class="btn btn-success">
        Add Friend
      </a>
    </div>

    <div class="table-responsive" *ngIf="hideWhenNoFriend">
        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">Student name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile number</th>
                    <th class="text-center" scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let friend of Friend | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
                    <th scope="row">{{friend.$key}}</th>
                    <td>{{friend.firstName}} {{friend.lastName}}</td>
                    <td>{{friend.email}}</td>
                    <td>{{friend.mobileNumber}}</td>
                    <td class="text-center action-block">
                        <span class="mr-2 btn btn-outline-primary btn-sm" routerLink="/edit-friend/{{friend.$key}}">Edit</span>&nbsp;
                        <span class="me-3 btn btn-outline-danger btn-sm" (click)="deleteFriend(friend)">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls> -->
</div>